.track {
  stroke-width: 10;
  stroke: lightgrey;
  fill: none;
}

.progress-circle {
  stroke-width: 10;
  stroke-dasharray: 700;
  fill: none;
  transform: rotate(270deg);
  transform-origin: center;
}

.blue-circle {
  stroke-dashoffset: 540;
  stroke: #00b1f7;
}
